!!!
%html{lang: "en"}
  %head
    %title pinpeg
  %body
    = image_tag root_url + '/images/email_header.png', style: "width: 100%"
    %h2
      Hi
      = @resource.email

    %div
      Someone has requested a link to reset your password on
      = link_to 'pinpeg.io', root_url, {:style => "text-decoration:none; color: #29bbbb, font-weight: 400"}
      \. You can do this by clicking
      = link_to 'here', edit_password_url(@resource, reset_password_token: @token), {:style => "text-decoration:none; color: #29bbbb, font-weight:400"}

    %div
      If you didn't request this change, please ignore this email. Your password won't change until you access the link above and create a new one.

    %h2{:style => "color: #29bbbb, font-weight: 400"}
      with love, pinpeg :)
