!!!
%html{lang: "en"}
  %head
  %body
    %h1
      Hi
      = @resource.email
      ,

    %div{ style: 'font-size: 1.2rem' }
      Someone has requested a link to reset your password on
      = link_to 'pinpeg.io', root_url
      \. You can do this by clicking
      = link_to 'here', edit_password_url(@resource, reset_password_token: @token)

    %div{ style: 'font-size: 1.2rem' }
      If you didn't request this change, please ignore this email. Your password won't change until you access the link above and create a new one.

    %br

    %div{ style: 'font-size: 1.2rem' }
      With Love, pinpeg :)
