= stylesheet_link_tag "company/payment"
.row

.row
	.medium-12.columns
		%h1.head Pricing Packages
		%ul.small-block-grid-3.package
			%li
				%ul.pricing-table
					%li.title BASIC
					%li.price Free
					%li.description "An entry tool for recruiting + branding" 
					%li.bullet-item View company profile
					%li.bullet-item Evaluate feedback from past interns to progress your program
					%li.bullet-item Stay connected with "brand ambassadors," past interns who chat with students
					%li.cta-button
						%a.button{:href => "#"} Sign Up Now
			%li
				%ul.pricing-table
					%li.title GROWTH
					%li.price $350/month
					%li.description "An integrated solution to recruiting + branding"
					%li.bullet-item Receive up to 50 resumes/month
					%li.bullet-item Build your Company Profile to represent your brand
					%li.bullet-item Conduct customizable searches of resumes and students
					%li.cta-button
						%a.button{:href => "#"} Upgrade Now
			%li
				%ul.pricing-table
					%li.title SCALE
					%li.price $500/month
					%li.description "An advanced platform for top talent + branding"
					%li.bullet-item Receive up to 100 resumes/month
					%li.bullet-item Post info session dates and events to all students
					%li.bullet-item Customizable searches of resumes and students
					%li.cta-button
						%a.button{:href => "#"} Upgrade Now

	
				
				
