= stylesheet_link_tag "company/payment"
.row

.row
	.medium-12.columns
		%h1.title Pricing Packages
		%ul.small-block-grid-3
			%li
				%ul.pricing-table
					%li.title BASIC
					%li.price Free
					%li.description "An entry tool for recruiting + branding" 
					%li.bullet-item View company profile
					%li.bullet-item Evaluate feedback from past interns
					%li.bullet-item Stay connected with brand ambassadors
					%li.cta-button
						%a.button{:href => "#"} Sign Up Now
			%li
				%ul.pricing-table
					%li.title GROWTH
					%li.price $350/month
					%li.description "An integrated solution to recruiting + branding"
					%li.bullet-item Receive up to 50 resumes/month
					%li.bullet-item Build Company Profile
					%li.bullet-item Conduct customizable searches
					%li.cta-button
						%a.button{:href => "#"} Upgrade Now
			%li
				%ul.pricing-table
					%li.title SCALE
					%li.price $500/month
					%li.description "An advanced platform for top talent + branding"
					%li.bullet-item Receive up to 100 resumes/month
					%li.bullet-item Post info session dates and events to all students
					%li.bullet-item Customizable searches of resumes and students
					%li.cta-button
						%a.button{:href => "#"} Upgrade Now

		.contact_us
			%h1.aboutHead How it Works
			%ul.small-block-grid-3
				%li
					.icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
					%h4.subtitle
						Receive resumes from top college students.
				%li
					.icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
					%h4.subtitle
						Analyze real feedback about your internship program.
				%li
					.icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
					%h4.subtitle
						Evolve the internship to better fit students.
				%li
				%li
				%li
					%h1.aboutHeads Testimonials
			%u1.small-block-grid-2
				%li
					%h4 QLytic has provided us an easy, seamless way to establish "brand ambassadors" for our company.
				%li
					= image_tag('profile.png', class: "testimonial1")
				%li
					= image_tag('profile.png', class: "testimonial2")
				%li
					%h4 QLytic has provided us an easy, seamless way to establish "brand ambassadors" for our company.
				
				
