
%head
	%meta{charset: 'utf-8'}
	%title Student Dashboard
	%h1 StudentDashboard
	%h2 My Resumes
	%h2 My Reviews
	%h2 Social Media
	


%footer
	%ul
		%li 2014 Projectx, All Rights Reserved.
		%li About Us
	
		%li For Students
		%li For Companies
		%li Terms of Use
		%li Privacy Policy