.footer
  .row
    .medium-6.columns
      %h4.footerLabel
        2014 PINPEG
      %ul.small-block-grid-1
        %li
          %a{href: "/about"} What we do
        %li
          %a{href: "/student"} For Students
        %li
          %a{href: "/company"} For Companies
        %li
          %a{href: "/partners"} Partners
        %li
          %a{href: "/privacy"} Privacy Policy
    .medium-6.columns
      %a.footerLabel.text-right{ 'href' => '/contact' }
        Contact Us
    .medium-12.columns.text-right
      .heart-text.text-right
        Made with
        .heart.fs1{"aria-hidden" => "true", "data-icon" => "\"}

= render partial: "shared/google_analytics"
