.footer
  .row
    .medium-6.columns
      %h4.footerLabel
        2014 PINPEG
      %ul.small-block-grid-1
        %li
          %a{href: "/about"} What We Do
        %li
          %a{href: "/student"} For Students
        %li
          %a{href: "/company"} For Companies
        %li
          %a{href: "/partners"} Partners
        %li
          %a{href: "/privacy"} Privacy Policy
    .medium-6.columns.text-right
      %a.footerLabel.text-right.contact{ 'href' => '/contact' }
        Contact Us
  .row
    .medium-12.columns.text-right
      .heart-text.text-right
        %a{:href => "https://www.youtube.com/watch?v=Q-GLuydiMe4", :target => "_blank"}
          Made with
          .heart.fs1{"aria-hidden" => "true", "data-icon" => "\"}
= render partial: "shared/google_analytics"
