%meta{ :property => "og:site_name", :content => "pinpeg" }
%meta{ :property => "og:title", :content => "Review your internship" }
%meta{ :property => "og:image", :content => "http://pinpeg.io#{image_path('dashboard.jpg')}" }
