= stylesheet_link_tag "student/review"



.row{:style => "margin-top: 10%; text-align:center; padding-bottom: 10%;"}
  .medium-12.columns
    %h1
      Thanks for submitting!
    %h3
      Check back in early September for the full launch of our site - complete with student reviews and a resume drop to exciting winter and summer internships
    
    
