%h1 Our Story
%ul.small-block-grid-3
	%li
		= image_tag('karine.png', class: "icon")
		%h4
			Karine Hsu
			%br Co-Founder
	%li
		= image_tag('lisa.png', class: "icon")
		%h4
			Lisa Wang
			%br Co-Founder
	%li
		= image_tag('willy.png', class: "icon")
		%h4
			Willy Xiao 
			%br Co-Founder 