.about_us
	.row
		.medium-12.columns
			%h1.about
				We've been in your shoes. 
.row
	.medium-12.columns
		%h5.summary
			QLytic helps students connect with top companies and recruiters - response guaranteed. Our platform allows students to connect with past interns and evaluate data on the internship experience. This collaborative effort will help students select and better prepare for their internships, as well as provide companies feedback about their internship programs and top talent. 
		%h1.aboutHead Our Story
		%ul.small-block-grid-3
			%li.bio
				= image_tag('karine.png', class: "biopic")
				%h4
					Karine Hsu
					%br Co-Founder
			%li.bio
				= image_tag('lisa.jpg', class: "biopic")
				%h4
					Lisa Wang
					%br Co-Founder
			%li.bio
				= image_tag('willy.png', class: "biopic")
				%h4
					Willy Xiao 
					%br Co-Founder

		.contact_us
			%h1.aboutHead Contact us, we want to hear from you!
			%form{"name"  => "emailSignUp"}
				.row
					.medium-6.columns
						%input.name{"type" => "text", "name" => "name", "placeholder" => "Name"}
					.medium-6.columns
						%input.name{"type" => "email", "name" => "email", "placeholder" => "Email Address"}
				.row
					.medium-12.columns
						%input.name{"type" => "text", "name" => "subject", "placeholder" => "Subject"}
				.row
					.medium-12.columns
						%textarea.name{"type" => "text", "name" => "address", "placeholder" => "Subject", "rows" => 5}
				.row
					.medium-2.columns.sendemail
						%a.button.postfix.send{href: "#"} Send