%link{href: "http://fonts.googleapis.com/css?family=Josefin+Sans", rel: "stylesheet", type: "text/css"}

.signIn
	.row
		.medium-12.columns
			%h1.text
				The Q Guide for Your Summer


	%form{"name"  => "emailSignUp"}
		.row
			.medium-5.columns
				%input.email{"type" => "email", "name" => "email", "placeholder" => "Email Address"}
			.medium-5.columns
				%input.password{"type" => "password", "name" => "password", "placeholder" => "Password"}
			.medium-2.columns
				%a.button.postfix{href: "#"} Sign Up
	
.content
	.row
		.medium-12.columns
			%h1
				For Students
			
			%ul.small-block-grid-3
				%li
					.icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
					%h4.subtitle
						Discover and connect with top start-ups.
				%li
					.icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
					%h4.subtitle
						Talk to past interns and review company data.
				%li
					.icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
					%h4.subtitle
						Choose and prepare for your best fit.  

				
			

