%link{href: "http://fonts.googleapis.com/css?family=Josefin+Sans", rel: "stylesheet", type: "text/css"}
%script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js", type: "text/javascript"}
= javascript_include_tag 'jquery.stellar.min'
= javascript_include_tag 'parallax.js'

.signIn{"data-stellar-background-ratio" => "0.5"}
  .row.firstSlide
    .medium-12.columns
      %h2.text
        Pin up companies you love. Peg down your perfect fit.
      %h3.text
        Share your job experiences and discover new companies.
    .signForm
      %form{"name"  => "emailSignUp", "action" => "/student/account/register", "method" => "get"}
        .medium-9.columns
          %input.email{"type" => "email", "name" => "email", "placeholder" => "Email Address"}
        .medium-3.columns
          .button.postfix.enter
            %input{"type" => "submit", "value" => "Sign Up", 'class' => 'transparent' }
.imageYay{"data-stellar-background-ratio" => "0.5"} 

.content{"data-stellar-background-ratio" => "1"}
  .info
    .row
      .medium-12.columns
        .infotop
          %h1
            For Students

          %ul.small-block-grid-3
            %li
              .icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
              %h4.subtitle
                Discover and connect with top start-ups.
            %li
              .icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
              %h4.subtitle
                Talk to past interns and review company data.
            %li
              .icon.fs1{"aria-hidden" => "true", "data-icon" => "\"}
              %h4.subtitle
                Choose and prepare for your best fit.
        %h2.sub
          Take a moment.
          Learn more about different internships.

.screenshots{"data-stellar-background-ratio" => "0.5"}
  .howItWorks
    .row
      .medium-12.columns
        = image_tag("dashboard.jpg")

.getStarted{"data-stellar-background-ratio" => "0.5"}
  .row
    .medium-12.columns
      %h1.title Get Started 
      .signForm
        %form{"name"  => "emailSignUp", "action" => "/student/account/register", "method" => "get"}
          .medium-9.columns
            %input.email{"type" => "email", "name" => "email", "placeholder" => "Email Address"}
          .medium-3.columns
            .button.postfix.enter
              %input{"type" => "submit", "value" => "Sign Up", 'class' => 'transparent' }

