.partners
  .row
    .medium-12.columns
      %h1
        Our Partners
  .row
    .medium-3.columns.company
      %a{:href => "http://www.localytics.com", :target => '_blank'}
        = image_tag("localytics2.jpg")
    .medium-3.columns.company
      %a{:href => "http://www.rothenbergventures.com", :target => '_blank'}
        = image_tag("rothenberg.jpg")
    .medium-3.columns.company
      %a{:href => "http://www.thelevelup.com", :target => '_blank'}
        = image_tag("levelup.jpg")
    .medium-3.columns.company
      %a{:href => "http://www.fivestars.com", :target => '_blank'}
        = image_tag("fivestars.jpg")