:css
	ul li{
		list-style-position: outside;
		}
	p.q, p.a{
		width: 50%;
		float: left;
	}
	.faqs{
		padding-bottom: 40px
	}

%h1.head
	Privacy Policy + FAQs

.row
	.medium-12.columns
		%p
		This Privacy Policy was last updated in September 2014. 
		pinpeg’s mission is to connect students of the highest caliber with top startups and companies and ensure that students find the best fit in their internships. We do our best to keep pinpeg safe.

.row
	.medium-12.columns
		%br
		%h3 Information We Collect
		%br
		%p We collect the following personal information that you submit to us voluntarily when you register and when you submit internship reviews.
		%ul
			%li Registration process includes name, email address, and school.
			%li You can submit your resume at any time but will have to provide an internship review in order to have your resume sent to our partnering companies. If you have not had an internship experience, we hope you will find our site useful and write a review once you have had an internship. Please be aware that while some pieces of information that you provide to us might not sufficiently identify you when seen by another User without any context, the combination of different information that you have provided may allow other Users to identify you.
			%li When you contact us via our contact forms, we will collect any information that is contained in (and/or attached to) your email.
		%br
.row
	.medium-12.columns
		%h3 What do we use this information for?
		%p We use the information in the following ways:
		%ul
			%li To allow you to create an account and profile
			%li To provide information about you to companies so that we can help find employers that fit your interests
			%li To connect students with you, if you choose, so that we can facilitate a better understanding of internships before the internship
		%br
.row
	.medium-12.columns
		%h3 Protecting Your Information
		%p We employ several security measures to protect your information; all information that you provide is protected with industry standard protocols, technology, and practices. Other users cannot see your information. However, please help us protect your information by keeping your password safe, refraining from using others’ accounts, and letting others use your account. 
.row
	.medium-12.columns
		%h3 Privacy of Minors
		%p We do not intentionally collect or maintain information in the Services from those visitors and Users of the Services who are under 13 years old.
.row
	.medium-12.columns
		%h3 Changes to this Statement
		%p We reserve the right to make changes to our Privacy Policy so please review it frequently. We will post those changes to this statement and any other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it. If you do not intend to accept this Policy, please do not use this site. 
		%p If you have any questions about our privacy policy, please contact us.


		

