#wrapper{"data-stellar-background-ratio" => "1.0"}
  .col
    .row
      .medium-6.columns.left-column
        %h1
        %h3
          New York City, NY, United States
        %h4
          Type: Architecture
        %h4
          Founded: 2009
        %h4
          Founded: Series A
 