.row
  .large-12
    %h1
      %a{ 'ng-href' => '{{ company.url }}', 'target' => '_blank' }
        {{ company.name }}
    %div{ 'ng-repeat' => 'review in reviews' }
      Review with id: {{ review.id }} by {{ review.studentName }}
