/ #company{"data-stellar-background-ratio" => "0.5"}
/   %div{"data-stellar-background-ratio" => "1.5" }

/ .company
/ #wrapper{"data-stellar-background-ratio" => "1.0"}
/   .col
/     .row
/       .medium-6.columns.left-column
/         %h1
/           {{ company.name }}
/         %h3
/           New York City, NY, United States
/         %h4
/           Type: Architecture
/         %h4
/           Founded: 2009
/         %h4
/           Founded: Series A

.row
  .medium-12.columns
    %h1
      %a{ 'ng-href' => '{{ company.url }}', 'target' => '_blank' }
        {{ company.name }}
    .slider{ 'ng-show' => 'reviews.length' }
      %div.slide{ 'ng-repeat' => 'review in reviews', 'ng-show'=> 'review.id == reviews[currentIndex].id' }
        {{ review.student.name }}
        {{ review.student.school }}
        {{ review.student.graduationYear }}
        {{ review.positionTitle }}
        %div{ 'ng-show' => 'review.recommend' }
          WEEEEE
        %div{ 'ng-show' => '!review.recommend' }
          BOOOO
      %div.arrows{ 'ng-show' => 'reviews.length > 1' }
        %img{:src => "/images/left-arrow.png", 'ng-click' => 'prev()', 'ng-show' => 'currentIndex > 0'}
        %img.right{:src => "/images/right-arrow.png", 'ng-click' => 'next()', 'ng-show' => 'currentIndex < reviews.length -1' }
    .notification{ 'ng-show' => '!reviews.length' }
