%hr
.company-name
  .row
    .medium-12.columns
      %h1
        %a{ 'ng-href' => '{{ company.url }}', 'target' => '_blank' }
          {{ company.name | uppercase}}
      .row
        .medium-6.columns
          %h2
            {{ reviews.length }} REVIEWS
        .medium-6.columns
          %h2
            {{ positiveReviews() }} of {{ reviews.length }} would recommend
.row
  .medium-12.columns
    .notification{ 'ng-if' => '!reviews.length' }
      %h3
        Do you see that? It says...0 reviews!
      %h3
        If you know someone who has interned at {{ company.name }}, please ask them to review their internship!

    .reviews
      .row.review{ 'ng-repeat' => 'review in reviews', 'ng-click' => 'expand(review)' }
        .medium-12.columns
          .row
            .medium-4.columns
              %h3
                {{ review.student.name }}
              %h6.student-info
                {{ review.student.school }} Class of {{ review.student.graduationYear }}
              %h6.student-info
                {{ review.season }} {{ review.year }} ({{review.location}}) {{ review.positionTitle }}
            .medium-2.columns.approval{ 'ng-if' => 'review.recommend' }
              [&#x2713]
            .medium-2.columns.approval{ 'ng-if' => '!review.recommend' }
              [&#x2717]
            .medium-6.columns
              %h6.student-info
                Total # interns: {{ review.numberInterns }}
              %h6.student-info
                Hours worked per week: {{ review.numberHours }}
              %h6.student-info{ 'ng-if' => 'review.salary' }
                Salary per month: {{ review.salary | currency }}

          .matrix{ 'ng-if' => 'review.expanded' }
            .row
              .medium-4.columns
                {{ review.projects }}
              .medium-4.columns
                {{ review.story }}
            .row
              .medium-4.columns
                {{ review.mentorship }}
              .medium-4.columns
                {{ review.culture }}
            .row
              .medium-12.columns
                {{ review.extra }}