%hr
.searching
  .row
    .medium-12.columns
      .search
        %form
          .row
            .large-12.columns
              %label
                Search for a Company
                %input{ 'type' => 'text', 'ng-model' => 'searchText', 'ng-keyup' => 'search($event)', 'autofocus' => 'autofocus' }

.row.results{ 'style' => 'min-height: 100px; padding-bottom: 50px' }
  .medium-12.columns
    .count{ 'ng-if' => 'companies.length != 1' }
      {{ companies.length }} companies found
    .count{ 'ng-if' => 'companies.length == 1' }
      1 company found

    .row{'ng-if' => 'companies.length' }
      .medium-6.columns
        %ul.button-group
          %li.button{ 'ng-mouseover' => 'sort(1)', 'ng-click' => 'sort(1)' }
            Sort by name
          %li.button{ 'ng-mouseover' => 'sort(2)', 'ng-click' => 'sort(2)' }
            Sort by reviews

    .result{ 'ng-repeat' => 'company in companies | orderBy:pred' }
      %a.links{ 'ng-href' => '#/{{ company.id }}'}
        .medium-10.columns.company
          {{ company.name }}
        .medium-2.columns
          .numReviews{ 'ng-if' => 'company.reviewsCount != 1' }
            {{ company.reviewsCount }} reviews
          .numReviews{ 'ng-if' => 'company.reviewsCount == 1' }
            1 review
        .clear
