.row
  .large-12
    .search
      %form
        .row
          .large-12.columns
            %label
              Search for a company:
              %input{ 'type' => 'text', 'ng-model' => 'searchText', 'ng-keyup' => 'search()'}

      %div{ 'ng-repeat' => 'company in companies' }
        %a{ 'ng-href' => '#/{{ company.id }}'}
          {{ company.name }}
