%hr
.searching
  .row
    .medium-12
      .search
        %form
          .row
            .large-12.columns
              %label
                Search for a Company
                %input{ 'type' => 'text', 'ng-model' => 'searchText', 'ng-keyup' => 'search($event)', 'ng-keydown' => 'select($event)'}

.row.results
  .medium-12
    %div
      {{ companies.length }} companies found
    .result{ 'ng-repeat' => 'company in companies', 'ng-class' => '{ selected: company.id == companies[selected].id }' }
      %a{ 'ng-href' => '#/{{ company.id }}'}
        {{ company.name }}
      %div{ 'ng-if' => 'company.id == companies[selected].id' }
        {{ company.reviewsCount }} reviews
