// Place all the styles related to the company/payment controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/


$orange: #FF8547
$teal: #29BBBB
$purple: #B19CD9
$bg: #f5f4f4

.pricing-table
	border: solid 1px #ddd
	margin-left: 0
	margin-bottom: 1.11111rem

li.title
	background: #fff
	color: $orange
	margin-top: 100px
	opacity: 0.8
	width: 350px
	font-size: 3.5rem
	padding: 15px

