

// Place all the styles related to the company/payment controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/



$orange: #FF8547
$teal: #29BBBB
$purple: #B19CD9



.forCompanies
	width: 100%
	height: 70%
	background-size: cover
	background-image: image-url("homeImage.png")

$bg: #f5f4f4

.pricing-table
	border: solid 1px #ddd
	margin-left: 0
	margin-bottom: 1.11111rem

	li.title
		background-color: $orange
		font-family: "Josefin Sans", Arial, Helvetica, sans-serif
		font-weight: bold
	li.price
		font-family: "Josefin Sans", Arial, Helvetica, sans-serif

.testimonial1
	width: 150px
	height: 150px
	margin-left: 40%
	margin-right: 50%

.testimonial2
	margin-left: 30%
	margin-right: 40%
	width: 150px
	height: 150px
	
.aboutHeads
	color: $orange
	float: right


li.title
	background: #fff
	color: $orange
	margin-top: 100px
	opacity: 0.8
	width: 350px
	font-size: 3.5rem
	padding: 15px


