// Place all the styles related to the student/company_profile controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.arrow
  width: 5%
  float: left
  margin-top: 20%

.arrow img
  height: 30px
  width: auto

.arrow img:hover
  cursor: pointer

img.right
  float: right

.slide
  width: 85%
  margin-left: auto
  margin-right: auto
  float: left
  margin-lef: 5%

.panel h3
  padding-bottom: 5px !important
  display: block

.panel h3
  color: #29bbbb

h6.title
  color: #29bbbb
  padding-top: 5px
  padding-bottom: 5px