// Place all the styles related to the student/company_profile controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
.arrow
  width: 5%
  float: left
  margin-top: 20%

.arrow img
  height: 30px
  width: auto

.arrow img:hover
  cursor: pointer

img.right
  float: right

.slide
  width: 85%
  margin-left: auto
  margin-right: auto
  float: left

.panel
  background-color: #fff
  border: none

.panel h3
  color: #000
  display: block
  padding-bottom: 5px !important
  margin-bottom: 5px


h6.title
  color: #000 !important
  padding-top: 5px
  padding-bottom: 0
  font-size: 1.1rem
  margin-bottom: 0

h6
  color: #29bbbb !important
  font-weight: 300

ul
  list-style-type: none
  padding: 0
  margin: 0
  font-size: 0.9rem

.panel li
  color: #29bbbb

.labels li
  color: #000 !important

.company-name
  background-color: #FF8547
  color: #fff
  margin: 0
  padding-top: 20px
  padding-bottom: 20px

.company-name a
  color: #fff
  font-size: 4rem

hr
  padding: 0
  margin: 0

h2
  color: #fff
  display: inline

.recent
  margin-left: 30px

h6.student-info
  color: #000 !important
  font-size: 0.9rem

.labels
  width: 20%
  float: left

.answers
  float: left
  width: 60%
  margin-left: 5%

.notification 
  padding-top: 20px

.notification h3
  display: block !important
  color: #000
  font-size: 1.5rem


