// Place all the styles related to the student/review controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

$orange: #FF8547
$teal: #29BBBB
$purple: #B19CD9
$bg: #f5f4f4

h1
	color: $orange
	margin-top: 20px

h3
	color: $teal

select
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif

.choice
	float: left
	padding-right: 30px

label
	font-size: 1rem