// Place all the styles related to the StudentDashboard controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

$orange: #FF8547
$teal: #29BBBB
$purple: #B19CD9
$bg: #f4f4f4

.connect
  color: white
  display: inline
  padding: 10px
  font-size: 1.5rem
  padding-top: 5px

.profilepic
  padding: 15px
  padding-top: 25px

.profile
  padding: 25px
  height: auto
  background-color: $bg

li.profileinfo 
  padding: 15px !important
  padding-top: 25px !important

.contact
  padding-top: 5px
  width: 32px
  height: 32px

.company
  padding: 15px
  width: 100%
  height: auto

.sd
  background-color: #a1a1a1
  border-color: $purple
  font-family: "lato"
  height: 10px
  padding-top: 1.5rem
  padding-bottom: 2.5rem
  margin-bottom: 0
  width: 100%

.edit
  background-color: $teal
  margin-top: 8px
  height: 10px !important
  padding-bottom: 1.2rem
  font-size: 0.8rem

h6
  text-align: center
  width: 100%
  background-color: #fff
  margin-top: 0
  color: #000
  padding: 5px

.reviews, .companies
  margin-top: 15px

.resume
  padding: 15px

.options
  padding-top: 10px

.more
  margin-bottom: 0
  margin-top: 15px

h5
  font-family: 'lato'
  font-size: 1.4rem
  padding-top: 15px
  padding-bottom: 15px
  float: left
  display: block
  
.prof-info
  background-color: #ff8547
  color: white
  text-align: center
  margin: 0
  padding-top: 15px
  
.profile
  padding: 0
 
h1, h2
  font-family: 'lato'
  color: white
  
h2
  font-size: 1.1rem
  
.wish
  color: white
  font-size: 1rem
  float: right
  padding-top: 0

.wish a
  color: white

.company_list li
  padding-left: 20px !important

table
  border: none

th, td
  background-color: #fff

textarea.no-resize
  resize: none

.resume-name
  text-align: left
  text-overflow: ellipsis

.old
  width: 70%

.new
  width: 30%

.two-up
  width: 100%

.button-bar .button
  margin: 0


