// Place all the styles related to the StudentAccount controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

$orange: #FF8547
$teal: #29BBBB
$purple: #B19CD9
$bg: #f5f4f4



h2
	font-size: 1.5rem
	color: $orange

.row.join
	padding-left: 23%
	padding-right: 23%

h3, h5
	display: inline
	color: $orange


div.fullname
	margin-top: 20px !important


label
	color: $teal
	font-size: 1rem

.subs
	padding-bottom: 20px
	text-align: center

.end
	padding-bottom: 50px
	margin-top: 15px

.endLogin
	margin-top: 15px
	padding-bottom: 5px

.register a
	float: right
	display: inline

.bar
	display: inline
	padding-left: 10px

@media (max-width : 320px) 	



