= stylesheet_link_tag 'student/resume'

.row
  .medium-12.columns
    %h4.drop Drop Your Resume
    %h1.middle
      Upload it here to share with our partnering companies. PDF only please!
    %h1.middle
      We won't share your resume with anyone else. 

    = form_for [:student, @resume], :html => { :multipart => true } do |f|
      = f.file_field :upload
      .row
        .medium-4.columns.medium-centered
          = f.submit "Submit", class: 'button'
