.profile
  .row
    .medium-12.columns
      %a.button.expand.sd.alerting{:href => "#"} Click here to upload your resume now and be seen by all of our partnership companies.
    .medium-4.columns
      .profpic
        %ul.small-block-grid-2{style: "background-color: #fff; padding-left: 25px; padding-right: 25px"}
          %li
            = image_tag('profile.png', class: "profilepic")
          %li.profileinfo{style: "padding-top: 25px !important"} 
            Lisa Wang 
            %br
            Harvard
            %br
            Class of 2016
          / %a.button.expand.sd{:href => "#"} Edit
          %ul.small-block-grid-4{style: "background-color: #fff"}
            %li
              .connect.fs1{"aria-hidden" => "true", "data-icon" => "\"}
            %li
              .connect.fs1{"aria-hidden" => "true", "data-icon" => "\"}
            %li
              .connect.fs1{"aria-hidden" => "true", "data-icon" => "\", style: "padding-top: 8px"}
            %li
              %a.button.expand.sd.edit.fs1{"aria-hidden" => "true", "data-icon" => "j"}
      .companies
        %ul.small-block-grid-1{style: "background-color: #fff;"}
          %h6{style:"text-align: center;"} About 
          %li.profileinfo{style: "padding-top: 10px !important"}
            Website | github URL 
            %br
            Interested in Software Engineering, Mobile Development
        
         
          
      .companies
        %ul.small-block-grid-1{style: "background-color: #fff"}
          %h6 Recently Viewed Companies
          


    .medium-8.columns
      .reviews{style: "background-color: #fff"}
        %h6 My Reviews
        %a.button.expand.sd{:href => "#"} + Write a Review
      .companies
        %table{:role => "grid"}
          %thead
            %tr
              %th{:width => "200"} Company
              %th Submitted
              %th{:width => "150"} Review Status
              %th{:width => "150"} Viewed By
          %tbody
            %tr
              %td 
                %ul.none
                  %li
                    = image_tag('company.png', class: "company")
              %td 8/9/14 at 3:00PM EST
              %td Approved
              %td 19 users

            %tr
              %td Content Goes Here
              %td This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
              %td Content Goes Here
              %td Content Goes Here
            %tr
              %td Content Goes Here
              %td This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
              %td Content Goes Here
              %td Content Goes Here
        / %ul.small-block-grid-3{style: "background-color: #fff", 'ng-repeat' => 'resume in resumes | orderBy:orderProp'} 
        /   %li
        /     {{ resume.name }}:
        /     %img{ 'ng-src' => "{{ resume.path }}"}
        /     / = image_tag("{{ resumes.path }} ", :class => 'resume')
        /   /   = image_tag('profile.png', class: "resume")
        /   / %li
        /   /   = image_tag('profile.png', class: "resume")
        /   / %li
        /   /   = image_tag('profile.png', class: "resume")

        / %a.button.expand.sd{:href => "#"} + Upload a New Resume
      .reviews
        %ul.small-block-grid-2{style: "background-color: #fff"} 
          %h6 My Resumes
          / %li
          /   = image_tag('company.png', class: "company")
          / %li
          /   .options
          /     %input#checkbox1{:type => "checkbox"}
          /       %label{:for => "checkbox1"} Students can email me about this company
          /     %a.button.expand.sd.edit{:href => "#"} View/Edit Review
          / %a.button.expand.sd{:href => "#"} + Add a New Review

          / %a.button.expand.more{:href => "#"} View All Companies Reviews