= stylesheet_link_tag "student/review"

.row
  .medium-12.columns
    %h1
      Review Your Internship
.row
  %form
    .medium-12.columns
      %h3
        First, some general info:
      .row
        .medium-6.columns
          %angucomplete{ 'id' => 'company', 'placeholder' => 'Company', 'pause' => 400, 'selectedObject' => 'review.company', 'url' => 'companies/search?searchText=', 'titlefield' => 'name'}
        .medium-6.columns
          %input{ 'type' => 'text', 'placeholder' => 'City, State', 'ng-model' => 'review.location', 'required' => 'required' }
      .row
        .medium-6.columns
          %input{ 'type' => 'text', 'placeholder' => 'Position Title', 'ng-model' => 'review.positionTitle', 'required' => 'required' }
        .medium-3.columns
          %select{ 'ng-model' => 'review.season' }
            %option{ 'value' => '', 'disabled' => 'disabled' } Season
            %option{ 'value' => 1 } Spring
            %option{ 'value' => 2 } Summer
            %option{ 'value' => 3 } Fall
            %option{ 'value' => 4 } Winter
        .medium-3.columns
          %input{ 'type' => 'number', 'placeholder' => 'Year', 'value' => 2014 }
      .row
        .medium-6.columns
          %input{ 'type' => 'number', 'placeholder' => 'Salary per Month (Optional)', 'ng-model' => 'review.salary' }
        .medium-3.columns
          %input{ 'type' => 'number', 'placeholder' => '# Hours Per Week', 'ng-model' => 'review.numberHours', 'required' => 'required' }
        .medium-3.columns
          %input{ 'type' => 'number', 'placeholder' => '# of Interns', 'ng-model' => 'review.numberInterns', 'required' => 'required' }
      %h3
        Now, about that internship...
      .row
        .medium-6.columns
          %select{ 'ng-model' => 'review.recommend' }
            %option{ 'value' => '', 'disabled' => 'disabled' } Would you recommend this internship to a friend?
            %option{ 'value' => 1 } Yes
            %option{ 'value' => 0 } No
      .row
        .medium-6.columns
          %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.projects', 'placeholder' => 'Describe any projects you worked on.', 'required' => 'required' }
        .medium-6.columns
          %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.story', 'placeholder' => 'Tell us a story!', 'required' => 'required' }
      .row
        .medium-6.columns
          %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.mentorship', 'placeholder' => 'How was the mentorship and guidance you received?', 'required' => 'required' }
        .medium-6.columns
          %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.culture', 'placeholder' => 'How was the culture of the company?', 'required' => 'required' }
      %h3
        Finally...
      .row
        .medium-12.columns
          %textarea.no-resize{ 'rows' => 3, 'ng-model' => 'review.extra', 'placeholder' => "Is there anything else you'd like to tell us?", 'required' => 'required' }
      .row
        .medium-2.columns
          .button{ 'ng-click' => 'submit()' }
            Submit
