= stylesheet_link_tag "student/review"

.row
  .medium-12.columns
    %h1
      Review Your Internship
.row
  %form
    .medium-12.columns
      %h3
        First, some general info:
      .row
        .medium-6.columns
          %input{ 'type' => 'text', 'placeholder' => 'Company' }
        .medium-6.columns
          %input{ 'type' => 'text', 'placeholder' => 'Location (City)' }
      .row
        .medium-6.columns
          %input{ 'type' => 'text', 'placeholder' => 'Position Title' }
        .medium-3.columns
          %select
            %option Season
            %option I'm a placeholder!
        .medium-3.columns
          %input{ 'type' => 'number', 'placeholder' => 'Year', 'value' => 2014 }
      .row
        .medium-4.columns
          %input{ 'type' => 'number', 'placeholder' => '# Hours Per Week' }
        .medium-4.columns
          %input{ 'type' => 'number', 'placeholder' => '# of Interns' }
        .medium-4.columns
          %input{ 'type' => 'number', 'placeholder' => 'Salary per Month (Optional)' }
      %h3
        Now, about that internship...
      .row
        .medium-6.columns
          %select
            %option Would you recommend this internship to a friend?
            %option{ 'value' => 1 } Yes
            %option{ 'value' => 0 } No
        %div{ 'ng-if' => 'review.recommend == 1' }
          woohoo!
        %div{ 'ng-if' => 'review.recommend == 0' }
          boohoo :(
      .row
        .medium-6.columns
          / = f.select :hours, options_for_select([["Not much, could've come and gone as I pleased", "small"],["Standard. Ya know, the usual 9-5."],["Not bad. Had to stay late sometimes, but it was chill.", "medium"],["Brutal. I don't remember what sleep is anymore.", "large"]]), { :include_blank => 'What were the hours expected of you?' }, :required => true
        .medium-3.columns
          / = f.number_field :number_interns, :placeholder => "Number of Interns", :min => "1", :required => true
        .medium-3.columns
          / = f.text_field :salary, :placeholder => "Salary / Month (optional)"
      .row
        .medium-6.columns
          / = f.text_area :mentorship, :placeholder => "How was the mentorship?", :rows => "4", :required => true
        .medium-6.columns
          / = f.text_area :projects, :placeholder => "What kinds of projects did you work on?", :rows => "4", :required => true     
      %h3
        Finally...
      .row
        .medium-12.columns
          / = f.text_area :end, :placeholder => "Tell the world anything else notable about your internship (e.g. company culture, interview process, explain your recommendation, there was an elephant sitting in the snack room at all times etc.,). ", :rows => "4", :required => true
    .medium-2.columns.sendemail
      %span
        %div.button.postfix.send
          / = f.submit "Submit"
