@import './home.sass'
@import './icons.sass'
@import 'foundation'
/*= require foundation */
/*= require jquery.ui.core */
/*= require jquery.ui.theme */
/*= require jquery.ui.resizable */
/*= require jquery.ui.selectable */
@import 'foundation_and_overrides'

/* Background color for the top bar */
$orange: #FF8547
$teal: #29BBBB
$purple: #B19CD9

$full-bleed: 100%

/* GENERAL SASS
.top-bar
	background-color: $orange

.contain-to-grid
	background-color: $orange

.top-bar-section li:not(.has-form) a:not(.button)
	background-color: $orange

img
	width: $full-bleed

body
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif

h1, h2, h3, h4, h5, h6
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif
	overflow: hidden

.top-bar-section ul li > a
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif

.content
	padding-top: 25px
	height: auto
	position: relative

.button
	background-color: $teal
	border-color: $teal
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif

.footer
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif
	background-color: $teal
	padding: 20px

h1
	color: $teal

a
	color: #fff

input
	color: $teal

h4.footerLabel
	color: #fff
	padding-bottom: 10px

[class*="block-grid-"] > li
	padding: 0 0.625rem 0.5rem !important

.top-bar .name h1
	font-size: 2.2rem
	padding-top: 3px

.top-bar-section ul li > a
	font-size: 1rem

.social
	width: 32px
	height: 32px

