@import './home.sass'
@import './icons.sass'
@import 'foundation'
/*= require foundation */
/*= require jquery.ui.core */
/*= require jquery.ui.theme */
/*= require jquery.ui.resizable */
/*= require jquery.ui.selectable */
@import 'foundation_and_overrides'

/* Background color for the top bar */
$orange: #FF8547
$teal: #29BBBB
$purple: #B19CD9

$full-bleed: 100%

@font-face
	font-family: "Mathilde"
	src: font-url("mathilde.otf") unquote("format('opentype')")

@font-face
	font-family: "Lato"
	src: font-url("Lato-Thin.ttf")
	
@font-face
	font-family: "Lato"
	src: url("Lato-Regular.ttf")
	font-weight: bold

$mathilde: 'Mathilde'
$linux: 'Lato'
/* GENERAL SASS
*
	margin: 0

html, body
	height: 100%

.container
	min-height: 100%
	position: relative

.app-wrapper
	padding-bottom: 260px

.app-view
	margin-bottom: 30px

.footer 
	position: absolute
	bottom: 0
	width: 100%
	height: 300px

.top-bar
	background-color: $orange

.contain-to-grid
	background-color: $orange

.top-bar-section li:not(.has-form) a:not(.button)
	background-color: $orange

img
	width: $full-bleed

body
	font-family: $linux, Arial, Helvetica, sans-serif
	font-weight: 100

h1, h2, h3, h4, h5, h6
	font-family: $linux, Arial, Helvetica, sans-serif
	overflow: hidden
	font-weight: 100

.top-bar-section ul li > a
	font-family: $linux, Arial, Helvetica, sans-serif
	font-weight: 100

.content
	padding-top: 25px
	height: auto
	position: relative

.button
	background-color: $teal
	border-color: $teal
	font-family: $linux, Arial, Helvetica, sans-serif
	font-weight: 100

.footer
	font-family: $linux, Arial, Helvetica, sans-serif
	background-color: $teal
	font-weight: 100
	padding: 20px
	margin: 0
	bottom: 0
	width: 100%

h1
	color: $teal

a
	color: $orange

.footer a
	color: #fff

input
	color: $teal

h4.footerLabel
	color: #fff
	padding-bottom: 10px

[class*="block-grid-"] > li
	padding: 0 0.625rem 0.5rem !important

.top-bar .name h1 
	font-size: 3.2rem
	padding-top: 3px
	font-family: $mathilde, Arial, Helvetica, sans-serif
	font-weight: 100

.top-bar-section ul li > a
	font-size: 1rem

.social
	width: 32px
	height: 32px

input[type="submit"] 
	border: none
	background-color: transparent
	color: #fff
	font-family: $linux, Arial, Helvetica, sans-serif
	font-size: 1rem

h1.head
	text-align: center
	color: $orange
	margin-top: 20px
	font-size: 3.5rem

.top-bar .name h1 a
	margin-top: -10px

