= stylesheet_link_tag "student/review"
.row
  .medium-12.columns
    %form{ 'ng-switch' => 'step' }
      %h1 Review your internship
      .row{ 'ng-switch-when' => '0' }
        .medium-6.columns
          .row
            .medium-12.columns
              .company-select-notifier
                %span.label.secondary{ 'ng-if' => '!review.company' } Please select a company from the dropdown
                %span.label.success{ 'ng-if' => 'review.company' } Please select a company from the dropdown &#x2713
              %angucomplete{ 'id' => 'company', 'placeholder' => 'Start typing company name...', 'pause' => 100, 'selectedObject' => 'review.company', 'url' => 'companies/search?sort=1&searchText=', 'titlefield' => 'name', 'minlength' => '2', "autofocus" => 'true', 'transform' => 'selectOriginal'}
          .row
            .medium-12.columns
              %input{ 'type' => 'text', 'placeholder' => 'City, State', 'ng-model' => 'review.location' }

      .row{ 'ng-switch-when' => '1' }
        .medium-6.columns
          %input{ 'type' => 'text', 'placeholder' => 'Position Title', 'ng-model' => 'review.positionTitle', 'autofocus' => "" }


      .row{ 'ng-switch-when' => '2' }
        .medium-6.columns
          .row
            .medium-12.columns
              %input{ 'type' => 'number', 'ng-model' => 'review.year', 'placeholder' => 'Year', 'min' => 2000, 'max' => 2014, 'autofocus' => ''}
          .row
            .medium-12.columns
              %select{ 'ng-model' => 'review.season'}
                %option{ 'value' => '', 'disabled' => 'disabled' } Season
                %option{ 'value' => :spring } Spring
                %option{ 'value' => :summer } Summer
                %option{ 'value' => :fall } Fall
                %option{ 'value' => :winter } Winter

      .row{ 'ng-switch-when' => '3' }
        .medium-6.columns
          %select{ 'ng-model' => 'review.recommend' }
            %option{ 'value' => '', 'disabled' => 'disabled' } Would you recommend this internship to a friend?
            %option{ 'value' => 1 } Yes
            %option{ 'value' => 0 } No

      .row
        .medium-6.columns
          %input{ 'type' => 'submit', 'class' => 'button', 'value' => 'Next', 'ng-click' => 'moveStep()' }

/ .row
/   .medium-12.columns
/     %h1
/       Review Your Internship
/     %h2.subtitle
/       These are only public to other Harvard students.
/     .errors{ 'pp-show-errors' => '' }
/ .row
/   %form
/     .medium-12.columns
/       %h3
/         First, some general info:
/       .row
/         .medium-6.columns
/           .company-select-notifier
/             %span.label.secondary{ 'ng-if' => '!review.company' } Please select a company from the dropdown
/             %span.label.success{ 'ng-if' => 'review.company' } Please select a company from the dropdown &#x2713
/       .row
/         .medium-6.columns
/           %angucomplete{ 'id' => 'company', 'placeholder' => 'Start typing company name...', 'pause' => 100, 'selectedObject' => 'review.company', 'url' => 'companies/search?sort=1&searchText=', 'titlefield' => 'name', 'minlength' => '2' }
/         .medium-6.columns
/           %input{ 'type' => 'text', 'placeholder' => 'City, State', 'ng-model' => 'review.location' }
/       .row
/         .medium-6.columns
/           %input{ 'type' => 'text', 'placeholder' => 'Position Title', 'ng-model' => 'review.positionTitle' }
/         .medium-3.columns
/           %select{ 'ng-model' => 'review.season' }
/             %option{ 'value' => '', 'disabled' => 'disabled' } Season
/             %option{ 'value' => :spring } Spring
/             %option{ 'value' => :summer } Summer
/             %option{ 'value' => :fall } Fall
/             %option{ 'value' => :winter } Winter
/         .medium-3.columns
/           %input{ 'type' => 'number', 'ng-model' => 'review.year', 'placeholder' => 'Year', 'min' => 2000, 'max' => 2014, 'value' => 2014 }
      
/       .row
/         .medium-12.columns
/           %select{ 'ng-model' => 'review.recommend' }
/             %option{ 'value' => '', 'disabled' => 'disabled' } Would you recommend this internship to a friend?
/             %option{ 'value' => 1 } Yes
/             %option{ 'value' => 0 } No
/       %br
/       %br
/       %br
/       %h3
/         (optional!) Now, about that internship...
/       %h2.sub
/         It's chill if you don't have time to fill this out - but we only send your resume to our partner companies if you do. 
/       .row
/         .medium-6.columns
/           %input{ 'type' => 'number', 'placeholder' => 'Salary per Month (Optional)', 'min' => 0, 'ng-model' => 'review.salary' }
/         .medium-3.columns
/           %input{ 'type' => 'number', 'placeholder' => '# Hours Per Week', 'ng-model' => 'review.numberHours', 'min' => 0 }
/         .medium-3.columns
/           %input{ 'type' => 'number', 'placeholder' => '# of Interns', 'ng-model' => 'review.numberInterns', 'min' => 0 }
      
/       .row
/         .medium-6.columns
/           %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.projects', 'placeholder' => 'Describe what projects you worked on.' }
/         .medium-6.columns
/           %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.story', 'placeholder' => 'Tell us a story about your most memorable experience. We like stories.' }
/       .row
/         .medium-6.columns
/           %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.mentorship', 'placeholder' => 'Who did you work closely with? How was the mentorship and guidance you received?' }
/         .medium-6.columns
/           %textarea.no-resize{ 'rows' => 4, 'cols' => 20, 'ng-model' => 'review.culture', 'placeholder' => 'How was the culture of the company?' }
/       %h3
/         Finally...
/       .row
/         .medium-12.columns
/           %textarea.no-resize{ 'rows' => 3, 'ng-model' => 'review.extra', 'placeholder' => "Why or why not would you recommend this internship? Think about personal growth, pro/cons, and etc." }
/       .row
/         .medium-10.columns
/         .medium-2.columns
/           .button.postfix{ 'ng-click' => 'submit()' }
/             Submit
