= stylesheet_link_tag "student/review"

.row
	.medium-12.columns
		%h1
			Review Your Internship
.row
	
	%form{"name" => "review"}
		.medium-12.columns
			%h3
				General
		.medium-6.columns
			%input.name{"type" => "text", "name" => "position", "placeholder" => "Position Title"}
			%input.name{"type" => "text", "name" => "hours", "placeholder" => "Hours Worked"}
		.medium-6.columns
			%input.name{"type" => "text", "name" => "timeframe", "placeholder" => "Time Frame (ex. Summer 2014)"}
			%input.name{"type" => "text", "name" => "numberInterns", "placeholder" => "Total Number of Interns"}
		.medium-12.columns
			%h3
				Before the Internship
		.medium-6.columns
			%select
				%option{disabled: "disabled", selected: "selected", value: ""}Number of Interviews
				%option{value: "1"}1
				%option{value: "2"}2
				%option{value: "3"}3
				%option{value: "4"}4
				%option{value: "5"}5
		.medium-6.columns
			.choice
				%input#easy{type: "radio", name: "difficulty"}
					%label{for: "easy", value: "easy"} Easy
			.choice
				%input#medium{type: "radio", name: "difficulty"}
					%label{for: "medium", value: "medium"} Medium
			.choice
				%input#hard{type: "radio", name: "difficulty"}
					%label{for: "hard", value: "hard"} Hard

		.medium-12.columns
			%h3
				During the Internship
			%textarea.name{"type" => "text", "name" => "address", "placeholder" => "Describe what kind of projects you worked on.", "rows" => 5}
		.medium-12.columns
			%h3
				Reflect
			%textarea.name{"type" => "text", "name" => "address", "placeholder" => "Why or why not would you recommend this internship?", "rows" => 5}
		.medium-2.columns.sendemail
			%span
				%a.button.postfix.send{href: "#"} Submit

			
