.row
  .medium-6.medium-centered.columns
    %h1
      Hello {{ stats.adminName }}
    %ul
      %li
        Confirmed Accounts: {{ stats.confirmedAccounts }}
      %li
        Unconfirmed Accounts: {{ stats.unconfirmedAccounts }}
      %li
        At least one view: {{ stats.onePageView }}
      %li
        At least three views: {{ stats.threePageView }}
      %li
        At least ten views: {{ stats.tenPageView }}
      %li
        Total page views: {{ stats.totalPageViews }}
      %li
        Reviews: {{ stats.reviews.length }}
      %li
        Unique Resumes: {{ stats.uniqResumes }}

.row
  .medium-6.medium-centered.columns
    %h1 Reviews

    .reviews{ 'ng-repeat' => 'review in stats.reviews' }
      %h2
        By {{ review.studentAccount.firstName + " " + review.studentAccount.lastName }}
      %h3
        On {{ review.createdAt | date:short }}, {{ review.location }} {{ review.season + " " + review.year }}
      %ul.no-bullet
        %li
          Recommend: {{ review.recommend }} Contactable: {{ review.contactable }}
        %li
          Company: {{ review.company.displayName }}
        %li
          Position Title: {{ review.positionTitle }}
        %li
          Salary: {{ review.salary }}
        %li
          Projects: {{ review.projects }}
        %li
          Mentorship: {{ review.mentorship }}
        %li
          Story: {{ review.story }}
        %li
          Culture: {{ review.culture }}
        %li
          Extra: {{ review.extra }}
